{% extends 'ex01/base.html' %}
{% block title %}
Ex01: Display process of a static page.
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'ex01/style1.css' %}">
{% endblock %}
{% block content %}
<h3>Customize your <em>app’s</em> look and feel</h3>
<p>First, create a directory called <code class="docutils literal notranslate"><span class="pre">static</span></code> in
    your <code class="docutils literal notranslate"><span class="pre">polls</span></code> directory. Django
    will look for static files there, similarly to how Django finds templates
    inside <code class="docutils literal notranslate"><span class="pre">polls/templates/</span></code>.</p>
<p>Django’s <code class="xref std std-setting docutils literal notranslate"><span class="pre">STATICFILES_FINDERS</span></code></a>
    setting contains a list
    of finders that know how to discover static files from various
    sources. One of the defaults is <code class="docutils literal notranslate"><span
            class="pre">AppDirectoriesFinder</span></code> which
    looks for a “static” subdirectory in each of the <code
            class="xref std std-setting docutils literal notranslate"><span class="pre">INSTALLED_APPS</span></code></a>
    , like the one in <code class="docutils literal notranslate"><span class="pre">polls</span></code> we just created.
    The admin
    site uses the same directory structure for its static files.</p>
<p>Within the <code class="docutils literal notranslate"><span class="pre">static</span></code> directory you have just
    created, create another directory
    called <code class="docutils literal notranslate"><span class="pre">polls</span></code> and within that create a
    file called <code class="docutils literal notranslate"><span class="pre">style.css</span></code>. In other
    words, your stylesheet should be at <code class="docutils literal notranslate"><span class="pre">polls/static/polls/style.css</span></code>.
    Because
    of how the <code class="docutils literal notranslate"><span class="pre">AppDirectoriesFinder</span></code>
    staticfile finder works, you can refer to
    this static file in Django as <code class="docutils literal notranslate"><span
            class="pre">polls/style.css</span></code>, similar to how you reference
    the path for templates.</p>
<div class="admonition-static-file-namespacing admonition">
    <p class="first admonition-title">Static file namespacing</p>
    <p class="last">Just like templates, we <em>might</em> be able to get away with putting our static
        files directly in <code class="docutils literal notranslate"><span class="pre">polls/static</span></code>
        (rather than creating another <code class="docutils literal notranslate"><span class="pre">polls</span></code>
        subdirectory), but it would actually be a bad idea. Django will choose the
        first static file it finds whose name matches, and if you had a static file
        with the same name in a <em>different</em> application, Django would be unable to
        distinguish between them. We need to be able to point Django at the right
        one, and the best way to ensure this is by <em>namespacing</em> them. That is, by
        putting those static files inside <em>another</em> directory named for the
        application itself.</p>
</div>
<p>Put the following code in that stylesheet (<code class="docutils literal notranslate"><span class="pre">polls/static/polls/style.css</span></code>):
</p>
<div class="literal-block-wrapper docutils container" id="id1">
    <div class="code-block-caption"><span class="caption-text">polls/static/polls/style.css</span></div>
    <div class="highlight-css notranslate">
        <div class="highlight"><pre><span></span><span class="nt">li</span> <span class="nt">a</span> <span
                class="p">{</span>
    <span class="k">color</span><span class="p">:</span> <span class="kc">green</span><span class="p">;</span>
<span class="p">}</span>
</pre>
        </div>
    </div>
</div>
<p>Next, add the following at the top of <code class="docutils literal notranslate"><span class="pre">polls/templates/polls/index.html</span></code>:
</p>
<div class="literal-block-wrapper docutils container" id="id2">
    <div class="code-block-caption"><span class="caption-text">polls/templates/polls/index.html</span></div>
    <div class="highlight-html+django notranslate">
        <div class="highlight"><pre><span></span><span class="cp"></span>

<span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span
                    class="s">&quot;stylesheet&quot;</span> <span class="na">type</span><span class="o">=</span><span
                    class="s">&quot;text/css&quot;</span> <span class="na">href</span><span class="o">=</span><span
                    class="s">&quot;</span><span class="cp"></span><span class="s">&quot;</span><span
                    class="p">&gt;</span>
</pre>
        </div>
    </div>
</div>

{% endblock %}