<head>
    <title>Table_col</title>

</head>
<body>
    <table border="solid">
        <tr>
            <th>Noir</th>
            <th>Rouge</th>
            <th>Bleu</th>
            <th>Vert</th>
        </tr>
        {% for color in colors %}
        <tr>
            <td style="width:80px;height:40px;background-color:rgba({{ color }}, {{ color }}, {{ color }})"></td>
            <td style="width:80px;height:40px;background-color:rgba({{ color }}, 0,  0)"></td>
            <td style="width:80px;height:40px;background-color:rgba(0, 0, {{ color }})"></td>
            <td style="width:80px;height:40px;background-color:rgba(0, {{ color }}, 0)"></td>
        </tr>
        {% endfor %}
    </table>
</body>